<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RouteController</servlet-name>
        <servlet-class>controller.RouteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormArgentController</servlet-name>
        <servlet-class>controller.FormArgentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormSituationController</servlet-name>
        <servlet-class>controller.FormSituationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormTypeController</servlet-name>
        <servlet-class>controller.FormTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouteController</servlet-name>
        <url-pattern>/RouteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormArgentController</servlet-name>
        <url-pattern>/FormArgentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormSituationController</servlet-name>
        <url-pattern>/FormSituationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormTypeController</servlet-name>
        <url-pattern>/FormTypeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
